<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<h2 class="pa3 title">TV Shows</h2>

<div class="flex flex-wrap">
    <% @popular_shows.each do |show| %>
        <div class="pa2">
            <a href="https://www.themoviedb.org/?language=en" class="">
                <img
                    src="<%= "https://image.tmdb.org/t/p/w342#{show.show_poster}" %>"
                    class="show-card"
                />
                <dl class="">
                    <dt class=""></dt>
                    <dd class="">
                        <%= show.name %>
                    </dd>
                </dl>
            </a>
        </div>
    <% end %>
</div>

